body {
    font-family: "Syne Mono", cursive !important;
    line-height: 1.2em;
    background: #f1ede9;
}
a{
    color: #fff !important;
}

/* ----header---- */

header {

    color: #FFFFFF;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#top__head__logo {
    background-image: url(../images/logo.jpg);
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    order: -1;
    margin: 0.5rem 0 0 0;
}

#navBar{  
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    background: #fff;

}

#navBarThemeBtn {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

ul#navBarTheme {
    display: flex;
    align-items: center;
    padding: 1rem;
}
i#iconTheme {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar>.container-fluid {
       justify-content: center !important;
}

/* ----Thème---- */
.theme-dark {
    background:#29282d;
    color: #FFFFFF;
    
}
/* ----Icon---- */

.fa {
    padding: 0.1rem;
    width: 2rem;
    color: #29282d;
}
ul#competences {
    text-align: center;
}
/* ----Page---- */
.wrapper {
    width: 90%;
    margin:4rem auto 0;
}
main a{
    color: #29282d !important;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
section#experience, section#formation {
    width: 90%;
    
}
section#formation{
    margin: 3rem 0 3rem;
}

ul li {
    list-style-type: none;
    counter-increment: item;
}
.title-realisation {
    color: #fff;
    width: 100%;
    top: -2rem;
    right: 2rem;
    padding: 0.2rem 0.5rem;;
    border-radius: 1rem;
}

img.competence__img {
    width: 90%;
}

.competence__img {
    border-radius: 100%;
} 
/* ----titre/texte---- */
h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
}


p {
    margin-bottom: 1em;
    display: inline;
}

strong {
    font-weight: buld;
}


time {
    font-style: italic;
    border-left: 0.1rem solid;
    padding-left: 1rem;
    display: inline-block;
}

span.text__syne {
    font-family: 'Syne Mono';
    font-weight: bold;
}

a.formation__liens {
    text-decoration: none;
    color: black;
}

#description__perso{
    text-align: center;
    background: none;
    color: #fff;
}

.description__perso__img {
    max-width: 100%;
    display: block;
    width: 70%;
    margin: auto;
}
/* ----Aside---- */
aside{
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-content: flex-start;

}

aside i.fa-solid{
 padding: 1rem;
}
h3 {
    border-top: solid #fff 0.1rem;
    padding: 1rem;
    margin-top: 1rem !important;
    font-size: 1.2rem !important;
}
ul {
    padding-left: 0 !important;
}
.list-social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/*----Footer----*/
footer{
    order: 2;
}
/*----Accordion----*/
.accordion-button:not(.collapsed)::after{
    background-image: none !important;
    text-decoration: none;
    font-family: FontAwesome;
    content:"\f067" !important;
  }
button:not(.collapsed) .accordion-text, .accordion-button:not(.collapsed)::after{
    color: #36D7B7 !important;
}
.accordion-text, .accordion-text::after  {
    color: #56569d ;
}
.accordion-button::after {
    background-image:none  !important;
    font-family: FontAwesome;
    content:"\f068" !important;
    text-decoration: none;
    color: #fff;
  }
.accordion-button {
    color: #fff !important;
  }

  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: #fff !important;
  }
  .carousel-inner {
    text-align: center !important;
}
/*----::before----*/
header, .navbar-expand-md, aside, .title-realisation{
    background: rgb(41 40 45 / 80%) !important;
    position: relative;
}
header::before, .navbar::before, aside::before, .title-realisation::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/header.jpg);
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: -1;
    
}
.title-realisation::before,aside::before{
    border-radius:1rem ;
}


/*----Hover----*/
.nav-link:hover, i.fa:hover, .navbar-toggler-icon:hover, .fa-bars:hover, i.fa-solid:hover header, .list-contact a:hover, #carouselInteretCaptions i.fa-solid:hover, main a:hover, ul.list-social:hover{
    transform: scale(1.05) !important;
    color: #56569d !important;
}
ul.list-contact {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid #fff 0.1rem;
}
.fa-bars:not(.collapsed){
    font-family: FontAwesome;
    content:"\f068" !important;
}
.fa-bars, i.fa, i.fa-solid footer,  #carouselInteretCaptions i.fa-solid, .nav-link{
    color: #36D7B7 !important;
}

img.card-img-top:hover .image {
    opacity: 0.3;
  }
  
  img.card-img-top:hover .middle {
    opacity: 1;
  }
  .accordion-body:hover {
    opacity: 1 !important;
  }
/* Hover-Overlay Effect*/
#experience img {
    max-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 8rem;
    position: relative;
    margin: 0rem auto 2rem;
}
.overlay {
    margin: 0rem auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(86 86 157 / 70%);
    overflow: hidden;
    max-width: 8rem;
    border-radius: 100%;
    height: 8rem;
    transition: .5s ease;
}
.item-overlay {
    position: relative;
    overflow: hidden;
}
.item-overlay:hover .bottom-overlay {
  top: 0;
}
.fade-overlay {
    opacity: 0;
}

.item-overlay:hover .fade-overlay {
  opacity: 1;
}


/*----Responsive-----*/

@media only screen and (min-width: 768px) {
    aside{
        width: 30%;
        height: 120vh;
    }
    section, section#formation{
        margin: 2rem 0 3rem 3rem;        
    }

    .wrapper{
        display: flex;
        flex-wrap: wrap;
        padding-top: 5%;
        margin: 0 auto;
    }
    main{
        width: 70%;
        justify-content: space-between;
        order: 1;
    }

    .flex-responsives{
        display: flex;
        flex-wrap: wrap;
    }
    a.nav-item.nav-link.contact {
        display: none;
    }t {
        display: none;
    }
}

/* Colors thème
Taupe rouge #7d6461
Anthracite #29282d
gris clair #f1ede9
Violet bleu #56569d
Turquoise #36D7B7
url(../images/header.jpg);
*/