@import '../../styles/vars';

.header:before {
    background: url(../../assets/image/fondCv.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 0;
    content: "";
    height: 150vh;
    top: 0;
    position: absolute;
    width: 100vw;
    right: 0;
}
.header{
  width: 100vw;
  height: 150vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-title{
  font-size: 2rem;
  width: 70%;
}
.header-description{
  width: 70%;
}
