html{

  height: 100vh;
  overflow-x: hidden;
}
.app {

  margin: 1em auto;
  text-align: center;

}
.background{
  background: url("../../../assets/image/fondCv.svg") no-repeat;
  height: 153vh;
  background-size: 100%;
}
.background-title{
  font-size: 2rem;
}
