
.header{
  background-image: url("../../../assets/image/fondCv.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain ;
  display: block;
  height: 150vh;
}

.background-title{
  font-size: 2rem;
}
